img { 
    max-width:100%; 
    height:auto; 
}

a {
    text-decoration: none;
}




.logo {
    width: 100%;
}

.mainview {
    width: 100%;
}

.title {
    width: 100%;
    /* margin-top: 10px; */
}

.east {
    width: 100%;
}

.east_insta {
    width: 100%;
}

.east_bag {
    width: 100%;
}

.west {
    width: 100%;
}

.west_insta {
    width: 100%;
}

.west_bag {
    width: 100%;
}


.contents {
    width: 100%;
}

.back_button {
    width: 100%;
    margin-top: 20%;
}





